@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  font-family: "Poppins", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}
*::-webkit-scrollbar {
  display: none;
}

.logo {
  font-family: "Modak" , 'serif';
  font-weight: 400;
  font-style: normal;
  font-stretch: expanded;
  letter-spacing: 5px;
}
nav .logo {
  letter-spacing: 1px;
}
:root {
  --pl: #bb77fe; /* Example color */
  --yl: #fffe52; /* Example color */
  --sk: #b5ebf7; /* Example color */
  --db: #050197; /* Example color */
}

.about-content {
  font-weight: 100;
}

.line-1 {
  white-space: wrap;
  overflow: hidden;
}
.anim-typewriter {
  border-right-width: 2px;
}

/* Add this to your CSS file */
.alert-enter {
  opacity: 0;
  transform: translateY(-20px);
}
.alert-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s, transform 0.3s;
}
.alert-exit {
  opacity: 1;
}
.alert-exit-active {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s, transform 0.3s;
}
